n8n/Ai reply.json
{
  "name": "Ai reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        -64
      ],
      "id": "c02bc9a8-4a32-45b3-b233-170d3d807a7a",
      "name": "check for new mail ",
      "credentials": {
        "gmailOAuth2": {
          "id": "RuFjyaasmB0XVBAG",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -592,
        -64
      ],
      "id": "0d3c81b4-a67b-4fa3-bafa-b02ad8234d41",
      "name": "Get a message",
      "webhookId": "3cf07e59-b66d-4299-81de-c42de2d6a319",
      "credentials": {
        "gmailOAuth2": {
          "id": "RuFjyaasmB0XVBAG",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a email responding agent .\n\nBwlow are the content of latest  email i got \n Subject : {{ $('check for new mail ').item.json.Subject }}\nBody : {{ $('check for new mail ').item.json.snippet }}\nYou have to do 2 things.\n\n1) specify the label based on email.\nuse the tools to get labels and there id and mention both of them properly .\n\n2)As a smart assistant please draft the response for me so that i can relpy to me email with subject and body \n\nlabel can be one of below .\ncourse,\ndoubts,\nmembership\n\nmake sure relpy is very repectfull whatever required please explain student doubts in depth with example and make sure replt follow a strict HTML format ",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        -64
      ],
      "id": "b2ac2988-5807-4553-a88d-27640c3ebe7c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        272
      ],
      "id": "10c6c665-7107-4b41-ad70-5c38fd6f03aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CzOxaiKdW8xxQab6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"label\" : \"issue\",\n  \"label_id\": \"123456\",\n  \"subject\" : \"doubts answer\",\n  \"body\" : \"Hey tabks me for reaching out\"\n  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        288
      ],
      "id": "90df9ba4-9d20-4ce2-a84b-f62133e237b4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        -64
      ],
      "id": "b81f4c91-cf6f-40d1-b752-2276a0296c8a",
      "name": "Add label to message",
      "webhookId": "41911a84-e463-4cf6-a0f1-cebe1e21914b",
      "credentials": {
        "gmailOAuth2": {
          "id": "RuFjyaasmB0XVBAG",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -128,
        320
      ],
      "id": "b0bae6a9-7b11-4e1b-a06c-af6fc1797563",
      "name": "Get many labels in Gmail",
      "webhookId": "591d7f11-031e-40c7-8b4b-973bb0ae2982",
      "credentials": {
        "gmailOAuth2": {
          "id": "RuFjyaasmB0XVBAG",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "sendTo": "={{ $('check for new mail ').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -64
      ],
      "id": "bb5ee2c5-c08e-4be6-aa63-cde38db72681",
      "name": "Create a draft",
      "webhookId": "d3dcf32d-2da6-4787-b480-892fdc3b94af",
      "credentials": {
        "gmailOAuth2": {
          "id": "RuFjyaasmB0XVBAG",
          "name": "Gmail account 7"
        }
      }
    }
  ],
  "pinData": {
    "check for new mail ": [
      {
        "json": {
          "id": "19bc0fd87f4e03d4",
          "threadId": "19bc0fd119617882",
          "snippet": "plezz help in leran n8n i am so confused",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 658,
          "historyId": "3863",
          "internalDate": "1768469396000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "issue",
          "From": "taniya <aiwithtanya@gmail.com>",
          "To": "taniya <aiwithtanya@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "check for new mail ": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a3636f99-8916-4d89-9ba9-f2f9674103cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1590d516314002bea1ae2274422c749da5f36993ed11ccf27f2787fdcb98f2e"
  },
  "id": "Jx66XCNvmhHdV8XNaZ7LP",
  "tags": [
    {
      "updatedAt": "2026-01-12T08:11:11.103Z",
      "createdAt": "2026-01-12T08:11:11.103Z",
      "id": "TtaL9N5XE1KYuv0i",
      "name": "gmail"
    }
  ]
}