n8n/AI-Powered Client Management & Email Automation (n8n + OpenAI + Google Sheets)
{
  "name": "important",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1txnNHD23c0AwDLMqPXTJfq8YwI0oSrVXdjs0dn8ClBI",
          "mode": "list",
          "cachedResultName": "second",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1txnNHD23c0AwDLMqPXTJfq8YwI0oSrVXdjs0dn8ClBI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1txnNHD23c0AwDLMqPXTJfq8YwI0oSrVXdjs0dn8ClBI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        -32
      ],
      "id": "3eaf9359-6074-43c6-b214-97854435d596",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SGjoEFTQzgW16Gv3",
          "name": "Google Sheets account 9"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.genderize.io/?name=taniya",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -32
      ],
      "id": "bd2b5398-c9bc-4d74-9a45-d1dc99e5ace8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.agify.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        -32
      ],
      "id": "0ed250c2-a76d-4cc3-9e7e-60a00f22e3bf",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1txnNHD23c0AwDLMqPXTJfq8YwI0oSrVXdjs0dn8ClBI",
          "mode": "list",
          "cachedResultName": "second",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1txnNHD23c0AwDLMqPXTJfq8YwI0oSrVXdjs0dn8ClBI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1txnNHD23c0AwDLMqPXTJfq8YwI0oSrVXdjs0dn8ClBI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get row(s) in sheet').item.json.id }}",
            "name": "={{ $('Get row(s) in sheet').item.json.name }}",
            "budget": "={{ $('Get row(s) in sheet').item.json.budget }}",
            "date of birth": "={{ $('Get row(s) in sheet').item.json['date of birth'] }}",
            "Gender": "={{ $('HTTP Request').item.json.gender }}",
            "number ": "={{ $('Get row(s) in sheet').item.json['number '] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "number ",
              "displayName": "number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date of birth",
              "displayName": "date of birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -32
      ],
      "id": "27509ae3-5bec-4a6e-936b-1fedee4bc814",
      "name": "Append or update row in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SGjoEFTQzgW16Gv3",
          "name": "Google Sheets account 9"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aiwithtanya@gmail.com",
        "subject": "client",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -16
      ],
      "id": "db042e46-ab57-416a-ba0b-e29f01944cca",
      "name": "Send a message",
      "webhookId": "93882cb1-4b79-422e-a54b-92aff8fc0bce",
      "credentials": {
        "gmailOAuth2": {
          "id": "RuFjyaasmB0XVBAG",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        -32
      ],
      "id": "0dc5c7e3-1787-408e-89af-51d3e87fe00c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Hey you are a email writer , you aim is to provide me with email which i then will sending on my email id.\nBelow is pattern :\n,,,\n\nHello Taniya, \nA new client {{ $json.name }}   is here .\n\nthere is details.\n number :{{ $json['number '] }}\n budget :{{ $json.budget }}\n\nHere is  date of birth , gender.\ndate of birth :{{ $json['date of birth'] }}\n gender :{{ $json.Gender }}\n\nDo make sure connect with him at {{ $json['number '] }}\n\nThanks\nplease make sure that the email is a lot in depth with more explanation for the sale ."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        400,
        -16
      ],
      "id": "51cd727b-e346-4a05-b3de-428223264ad1",
      "name": "Message a model",
      "executeOnce": false,
      "credentials": {
        "openAiApi": {
          "id": "CzOxaiKdW8xxQab6",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dc299fc1-730d-40ff-91dc-3df917a0ea6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1590d516314002bea1ae2274422c749da5f36993ed11ccf27f2787fdcb98f2e"
  },
  "id": "ZaqdZ6ew44PRV3H6Mrp5v",
  "tags": []
}
